<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp4900.bcit.ca.washaf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDR90SBc5sH1gECO5M06h6B31DSj6Ko9To" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".TestPage" />
        <activity android:name=".userpage.TopAdminPage" />
        <activity android:name=".userpage.AdminPage" />
        <activity android:name=".userpage.EmployeePage" />
        <activity android:name=".userpage.CustomerPage"></activity>
    </application>

</manifest>