<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp4900.bcit.ca.washaf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDR90SBc5sH1gECO5M06h6B31DSj6Ko9To" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".TestPage" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".userpage.AdminPage"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpage.CustomerPage"
            android:label="@string/title_activity_customer_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpage.EmployeePage"
            android:label="@string/title_activity_employee_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpage.TopAdminPage"
            android:label="@string/title_activity_top_admin_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".userpage.Chatbox" />
        <activity
            android:name=".userpage.OrderPage"
            android:label="@string/title_activity_order_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".userpage.OrderConfirmPage"
            android:label="@string/title_activity_order_confirm_page"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>